body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
/*HEADER*/
.background{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.header{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: space-around;
    flex: auto;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.link{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-end;
    gap: 20px;
}
/*HERO TEXT*/
.lijevo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
    flex: auto;
}
#hero{
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}
.sub{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 0px;
    margin-top: 0px;
}
.img{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}
.dugme{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 100px;
}
/*random information*/
.container{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 10px;
    flex: auto;
}
.child{
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    flex-direction: column;
}
.random-infromation{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    display: flex;
    flex-direction: row;

}
.jednak{
    max-width: 230px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.bjelo{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    max-width: 230px;
    max-height: 300px;
    min-height: 200px;
    flex: auto;
    border: 5px solid blue;
    border-radius: 40px;
}
.info{
    margin:10px
}
/*quotee*/
.quote{
    display: flex;
    background-color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex: auto;
    flex-direction: column;
}
.sirina{
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.inspiring{
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    flex: auto;
    margin-bottom: 0px;
    color: #1f2937;
}
.thor{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}


